*{text-shadow: none
margin:0;
padding: 0;}

.dis
{
  color: white;
  text-align: right;
  margin-left: center;
  padding-top: 1%;
}
.esti{
  text-decoration:none;
  color: black !important; 
}
.face{
  margin: 0;
  text-shadow: none; 
  padding: 0;
}
.house{
  color: black;
  text-decoration: none;
  text-shadow: none;
  
  text-align: center;
}
.btnsfor
{
  text-decoration: none;
  border: none;
  width: 100%;
  height: 20%;
}
.panelmaps
{
  top: 5%;
  position: fixed;
 z-index: 10;
 right: 0;
  width: 20%;
  height: 300px;
  background: rgba(0,0,0,.6);
}
.contexpo{
  margin: 0;
  padding-top:50px;
  width: 100%;
}
.panelmodal{
  position: fixed;
  top: 0;
  left: 0;
  padding: 3% 5%;
  width: 100%;
  z-index: 10;
   height:650px;
  background: rgba(0,0,0,.4);

}
.contmodal{
  width: 90%;
  height: 100%;
  background: white;


}
.close{

  position: fixed;
  right: 5%;
  height: 20px;
  width: 20px;
  padding: 2%;
  border-radius: 100%;
  background:rgb(65, 131, 215);
  color: white;
  text-align: center;

}
.spexpo{
  color:rgb(142, 68, 173);
    text-align: center;
    border-bottom: 4px solid rgb(65, 131, 215);
    font-weight: bold;

}
.tito{
  margin: 0;
  padding: 1%;
  width: 100%;
  height: 30px;
  background: rgb(142, 68, 173);
  color: white;
  text-shadow: none;
}
#wrapper{
  margin: 0;
  padding: 1%;
  width: 100%;
  height: 400px;
  overflow:hidden;
  text-orientation: justify;
}
@media screen and (max-width: 320px)  {
  .spexpo{
    width: 100%;
    padding: 4%;

  }
    .back {
      position: absolute;
      width: 100%;
        height: 600px;
        background: url('../img/fondo.png')no-repeat fixed;
        background-size:100% 600px;
       
    }
    #map{
  width: 100%;
  height: 600px;
}
     .menu{
     position: absolute;
     padding: 0;
     left: 10%;
     top: 20%;
      width: 80%;
     
      background: rgba(0,0,0,.5);
      
     }
     .cont-btn{
      width: 100%;
      margin: 0;
      padding: 0;
     }
     .btn-men{
      width:95.7%;
      height: 15%;
      background: rgba(255,255,255,.6);
      text-shadow: none;
      text-align: center;
      padding: .4% 2%;
      border-bottom: 3px solid white;
     }
     .fcicon
     {
      margin: 0;
      text-shadow: none;
      font-size: 2.5em;
      color: rgba(255,255,255,.8) !important;
     }
}

@media screen and (min-width: 321px) and (max-width: 720px) {
    .spexpo{
    width: 100%;
    padding: 6%;
   
  }
    .back{
      position: absolute;
       width: 100%;
        height: 700px;
         background: url('../img/fondo.png')no-repeat  fixed;
      background-size:100% 700px;
    }
     .menu{
     position: absolute;
     left: 10%;
     top: 15%;
      width: 80%;
      
      background: rgba(0,0,0,.5);

     }
     #map{
  width: 100%;
        height: 667px;
}
    .cont-btn{
      width: 100%;
      margin: 0;
      padding: 0;
     }
     .btn-men{
      text-decoration: none;
      width:95.7%;
      height:15%;
      background: rgba(255,255,255,.6);
      text-shadow: none;
      text-align: center;
      padding: 3% 2%;
      border-bottom: 3px solid white;
     }
     .fcicon
     {
      padding: 0;
            margin: 0;
      text-shadow: none;
      font-size:3em;
      color: rgba(255,255,255,.8);
     }
}


.item_app
{
    width: 100%;
    font-size: 1em;
    margin-bottom: 5px;
    border-bottom: 2px solid rgb(127, 140, 141);
    text-align: center;
    background: white;
}
.pes
{
   margin-left: 5%;
   font-size: 1.1em;
   padding: 0;
   display: inline;
}

#lista
{
  width: 100%;
}
.tipo
{
  padding-left: 3%;
  font-family: fantasy;
  border-bottom: 2px solid #6C7A89;
  border-radius: 3px;
}
.titulo
{
  text-align: center;
    font-size:1.1em;
    width:100%;
    height:2%;
    background: rgb(231, 76, 60); 
    color: rgb(236, 240, 241) !important;
    margin-bottom: 0;
    text-shadow: none !important;
}

.body
{
  margin-bottom:1%; 
  padding: 4%;
  text-align: left;
  border-right: 3px solid  #6C7A89;


}
.imglogo
{
 margin-top: 48px;

width: 100%;
height: 50%;
}
.contenido
{
  margin:0;
  padding: 0; 
  height: 600px;
}
.rtn
{
text-align: center;
  padding: .5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: .4em;
  width: 75%;
  
  background: rgba(231, 76, 60,.9);
   display: block;
 color: rgba(236, 240, 241,1.0) !important;
  border-bottom:5px solid rgba(192, 57, 43,1);
  text-decoration: none !important;
  text-shadow:  none !important;
  cursor: pointer;
}
.cnt
{
  margin-top: 5%;
}
.conjunto
{
  width: 100%;
  margin: 0;
  padding: 0;
}
.title
{
  margin-left: 0%;
  margin-top: 2%;
  margin-bottom: 0;
  width: 100%;
  text-align:center; 
  padding: 0% 2% 0% 2%;
}
.resultado
{
  text-align: center;
  background:rgba(230, 126, 34,.8);
  color:rgb(236, 240, 241) !important; 
  width: 100%;
  padding: 2%;
  height: 15%;
}
.title_progra
{
  margin: 2%;
  width: 100%;
  text-align:center; 
  padding: 5%;
}
.print
{
  display: block;
  font-size: .8em;
}
.imgsp
{
  width: 100px;
  height: 100px;
  border-left: 6px solid rgba(0,0,0,.7) !important;
  border-radius: 100%;

}



.sesiones
{
  text-align: center;
  width: 100%;
  margin-bottom: 1%;
  border-bottom: 2px solid rgba(217, 30, 24,.7);
   border-left: 2px solid rgba(217, 30, 24,.7);
}
.chair
{
  width: 100%;
  background: rgb(231, 76, 60); 
    color:white !important;
    text-shadow: none;
  
}
.estilo
{
  width: 100%;
  list-style: none;
  border-top: 2px solid rgb(108, 122, 137);
}
.tituloPaper
{
  font-size: 0.9em;
  width: 100%;
  text-align: center;
  
}
.tarjeta
{
  width: 100%;
 border-bottom:2px solid rgba(230, 126, 34,.6);

}
.nombre
{
     background: rgb(65, 131, 215); 
    color: rgb(236, 240, 241) !important;
    text-shadow: none !important;
}
.correo
{
  margin: 0px;  
}
.movil
{
  margin: 0px;
}
.contenidotuto
{
  margin: 0;
  padding: 0;
  width: 100%;
}
.cabecera
{
  height: 60px !important;
}
.carga
{
  margin-top: 15px;
}
.ubicacion
{
  position: absolute;
  top: 25px !important;
}
.chairs
{
  z-index: 30000;
  position: absolute !important;
  margin-left: 60px;
}
.adver
{
  margin-bottom: 25px;
  width: 100%;
  height: 50px;
  padding: 2%;
 border-bottom: 3px solid grey;
  background: rgba(230, 126, 34,1);
  color:rgb(236, 240, 241) !important;
}
#ruta
{
  background: url(../img/CM2.jpg) no-repeat;
  
  
}



.logosorga
{
  margin-bottom: 10%;
  border-bottom: 1px solid black;
}
.titulomapas
{
  text-align: center;
  font-size: .8em;
  border-bottom: 2px solid rgb(65, 131, 215);
}
li
{
  list-style: none;
}
.division
{
  width: 50%;
  height: 3px;
  margin-left: 26%;
  background: rgba(217, 30, 24,.7);
}
.letra
{
  font-size: .85em;
  text-orientation: alignment-baseline;
}

.btn_menu
{
  width: 32px;
  height: 32px;
  position: absolute;
  background: url(../img/menu.png);
  z-index: 3;
  top:17px;
  left: 85%; 
}

.spkcont
{
  width: 100%;

  height:450px;
}
.garlan{
  width: 100%;
  height: 60%;
  background: url(../img/garlan.jpg) no-repeat;
   background-size:100% 100%;
 
}
.ram
{
  width: 100%;
  height: 60%;
  background: url(../img/ramchillarege.jpg) no-repeat;
  background-size:100% 100%;

}

.tt
{
  text-align: center;
  font-size: 1.2em;
width: 100%;
height: 5%;
background: rgba(192, 57, 43,1);
 color: #eee;
  text-shadow: none !important;
}
.biogra
{
  height: 40%;
  padding-bottom:5%;
   padding-top:5%;
  text-align: center;
  width: 100%;
  background: grey;
   color: #eee;
  text-shadow: none !important;
  border-bottom:2px solid rgba(192, 57, 43,1);
}
.header {
  margin-top: 0;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  line-height: 45px;
  background:rgb(65, 131, 215);
  padding-top: 3%;
  color: #eee;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.bnn{z-index: 0}
.pos{
  width: 20px;
  height: 20px;
  position: absolute;
top: 25px;
left: 15px;
background: url(../img/home.png);
  background-size:100% 100%;
z-index: 5;}

.cnt{padding-top: 40px;}

 

.fame
{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 500px;
}
.name
{
  font-size: 1.2em;
  text-shadow: none !important;
  padding: 2%;
  text-align: center;
color: #eee;
 background: grey;
}
.hide{
  overflow: hidden;
}    
.contentsp
{
  margin-top: 50px;
}
.adverten
{
  margin: 0;
  text-align: center;
  background: rgba(192, 57, 43,1);
 color: #eee;
}